<app-header title="Home page"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" [routerLink]="item.link" detail>
      <ion-icon name="{{ item.icon }}" slot="end"></ion-icon>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
    <!-- List Header with Button -->
    <ion-list-header>
      <ion-label>New This Week</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success" shape="round" expand="full" routerLink="/alert">alerts</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" shape="round" expand="full" routerLink="/action-sheet">action sheet</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
