<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-menu-toggle>
        <ion-title routerLink="/home">Start Menu</ion-title>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle>
      <ion-item *ngFor="let item of items | async " [routerLink]="item.link" detail>
        <ion-icon name="{{ item.icon }}" slot="end"></ion-icon>
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
